html {
	background-color: #1f2124;
	color: #c9d1d9;
}

header{
	background-image: url("https://miro.medium.com/max/2400/1*Xkgj-E_ZL7Cgnxbh9ODbPA.png");
	width: 80%;
	height: 200px;
	margin:auto;
	color: black;
	text-align: center;
	}

body {
	background-color: #0d1117;
	width: 60%;
	padding: 50px;
	margin: auto;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 5px;
}

a {
	color: #47a6f0;
	text-decoration: none;
}