html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #1f2124;
	color: #c9d1d9;
}

header {
	background-image: url("https://miro.medium.com/max/2400/1*Xkgj-E_ZL7Cgnxbh9ODbPA.png");
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid white;
	width: 100%;
	height: 100px;
	margin:auto;
	color: black;
	text-align: center;
	vertical-align: middle;
}

body {
	background-color: #0d1117;
	border: 1px solid #30363d;
	width: 60%;
	padding: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: auto;
}

h1 {
	color: black;
}

h2, h3, h4, h5 {
	color: white;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 5px;
}

a {
	color: #47a6f0;
	text-decoration: none;
}